@model AjudaFacilV3.Models.UserProfile

<body>
    <div class="container" style="background-color: #dce6eb; border-radius: 10px; padding-top: 50px; padding-bottom: 10px;">
        <form class="row g-3">
            <div id="view_photo" class="img-thumbnail">
                <div class="image-upload">
                    <label for="uploadImage">
                        <img src="https://i.pinimg.com/originals/54/38/19/543819d33dfcfe997f6c92171179e4cd.png" id="output" style="width: 110px; height: 110px; border-radius: 86px;">
                    </label>
                    <input id="uploadImage" type="file" name="files" />
                </div>
                <style type="text/css">
                    .image-upload > input {
                        display: none;
                    }
                </style>
            </div>

            <hr />
            <div class="text-center">
                <h2>Minhas Informações</h2>
            </div>
            <hr />
            <div class="row g-3 justify-content-center">
                <div class="col-md-3">
                    <label class="form-label">Nome</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Name)" aria-label="readonly input example" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Telefone</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.PhoneNumber)" aria-label="readonly input example" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label">E-mail</label>
                    <input class="form-control" type="email" value="@Html.DisplayFor(model => model.User)" aria-label="readonly input example" readonly>
                </div>
            </div>

            <div class="row g-3 justify-content-center" style="margin-left: -114px">
                <div class="col-2">
                    <label class="form-label">Data de Nascimento</label>
                    <input class="form-control" type="date" value="@Html.DisplayFor(model => model.BirthDate)" aria-label="readonly input example" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Sexo</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Sex)" aria-label="readonly input example" readonly>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Total de Doações</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.TotalDonation) : Doações feitas" aria-label="readonly input example" readonly>
                </div>
            </div>

            <div class="row g-3 justify-content-center" style="margin-left: -61px">
                <div class="col-md-2">
                    <label class="form-label">Endereço</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Adress)" aria-label="readonly input example" readonly>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Cidade</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.City)" aria-label="readonly input example" readonly>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">CEP</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.CEP)" aria-label="readonly input example" readonly>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">CPF</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.CPF)" aria-label="readonly input example" readonly>
                </div>
            </div>

            <div style="margin-left: 160px;">
                <input type="submit" class="btn btn-primary" asp-controller="UserProfile" asp-action="UpdateProfile" asp-route-id="@Model?.Id" value="Editar" /> |
                <input type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Index" value="Voltar" />
            </div>
        </form>
    </div>
</body>
